* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fb811e;
  --secondary-color: #009f4d;
  --font-color: #707070;
  --heading-color: #060606;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  background-color: transparent;
  transition: all 0.5s;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
  color: var(--heading-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  line-height: 28px;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

h4 {
  color: var(--heading-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 28px;
}

h5 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

p {
  color: var(--font-color);
  font-size: 17px;
  line-height: 27px;
  margin: 0;
  padding: 0;
}

.btn {
  background: var(--primary-color);
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background: var(--secondary-color);
  color: #ffffff;
}

.white-text {
  color: #ffffff;
}

.position-relative {
  position: relative !important;
}
/* SIDEBAR */
.pull-sidebar {
  position: fixed;
  float: right;
  right: 0px;
  top: 150px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}

.pull-sidebar span {
  background: #0d1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: 0.5;
}

.sidebar {
  width: 90px;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  margin-top: 140px;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

.hide-sidebar {
  margin-right: -300px !important;
  transition: all 0.5s ease-in-out;
}

.sidebar-box {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px 10px;
  padding-top: 70px;
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.sidebar-btn {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}

.sidebar-btn a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-icon {
  display: block;
}
/* END SIDEBAR */

/* HEADER */
.main-header {
  background-color: transparent;
  padding: 0px;
  height: 90px;
  transition: all 0.4s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.nav-fixed {
  background-color: #ffffff;
  padding: 0px;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  z-index: 99 !important;
}

.nav-fixed .navbar-brand {
  color: #000000;
}

nav {
  display: flex;
  align-items: center;
  justify-items: space-between;
}

a.navbar-brand {
  font-size: 32px;
  color: var(--primary-color);
  padding: 0px;
  position: relative;
  transition: all 0.5s;
}

a.navbar-brand:hover {
  color: var(--heading-color);
}

.navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 18px;
}

.navbar {
  justify-content: space-between;
  padding: 0;
}

.navbar .search {
  margin: 0 10px;
}

.navbar .search {
  width: 200px;
}

.search-right input[type="search"] {
  background: #fff url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 10em;
  transition: all 0.5s;
  cursor: pointer;
}

.search-right input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000000;
  background-color: #ffffff;
  cursor: auto;
  padding-right: 15px;
  outline: none;
}

.switchmode {
  margin-right: 1rem !important;
}

.switchmode-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 20px;
  color: #ffffff;
}

.moon {
  display: block;
  cursor: pointer;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  color: #ffffff;
}

.moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  color: #ffffff;
}

.nav-fixed .moon,
.nav-fixed .moon::after {
  color: #000000;
}

.sun {
  box-sizing: border-box;
  display: block;
  font-size: 15px;
  cursor: pointer;
  width: 24px;
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.sun::before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
  transform: rotate(-45deg);
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.sun::after {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
  transform: rotate(45deg);
  box-sizing: border-box;
  display: block;
  width: 24px;
}
/* END HEADER */

/* CAROUSEL */
.carousel .col-md-5 {
  position: absolute;
  left: 10em;
  z-index: 1;
}

.banner-left {
  padding: 0;
}

.banner-left h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin: -0.5em;
  margin-top: -1.2em;
}

.banner-left h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.banner-left p {
  font-size: 20px;
}

.banner-right .radio {
  display: none;
  box-sizing: border-box;
  padding: 0;
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.banner-right .image {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
}

.banner-right .image .image-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
}

.banner-right .image .image-inner .image-slide {
  width: 20%;
  transition: all 0.5s ease-out;
}

.banner-right .image .image-slide .banner1,
.banner-right .image .image-slide .banner2,
.banner-right .image .image-slide .banner3 {
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  border-bottom-left-radius: 20px;
  z-index: 0;
}

.banner-right .image .image-slide .banner1::before,
.banner-right .image .image-slide .banner2::before,
.banner-right .image .image-slide .banner3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: -1;
  top: 0;
}

.banner-right .image .image-slide .banner1 {
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b1.jpg);
}

.banner-right .image .image-slide .banner2 {
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b8.jpg);
}

.banner-right .image .image-slide .banner3 {
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b4.jpg);
}

.banner-right .wrapper {
  margin-right: 1em;
}

.banner-right h4 {
  color: #ffffff;
}

.banner-right span {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}

.banner-right p {
  color: #ffffff;
}

.manual-navigation {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  transition: all 0.5s ease-out;
}

.manual-navigation .manual-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  display: inline-block !important;
  margin: 0px 4px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#radio1:checked ~ .image-inner {
  margin-left: 0;
}

#radio2:checked ~ .image-inner {
  margin-left: -100%;
}

#radio3:checked ~ .image-inner {
  margin-left: -200%;
}

#radio1:checked ~ .manual-navigation .first {
  background: var(--primary-color);
}
#radio2:checked ~ .manual-navigation .second {
  background: var(--primary-color);
}
#radio3:checked ~ .manual-navigation .third {
  background: var(--primary-color);
}

/* END CAROUSEL */

/* FEATURE */
.discover {
  padding: 3rem 0 !important;
}

.row .left h3 {
  margin-bottom: 16px;
}

.discover .btn {
  margin-top: 48px;
}

.discover__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.discover__grid .box {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  background-color: #ffffff;
}

.discover__grid .box:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.discover__grid .box .icon img {
  max-width: 65px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.discover__grid .box h4 a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--heading-color);
  text-decoration: none;
}

.discover__grid .box h4 a:hover {
  color: var(--secondary-color);
}
/* END FEATURE */

/* SERVICE */
.service {
  background: var(--secondary-color);
  padding: 3rem 0 !important;
}

.service .container {
  padding: 1.5rem !important;
}

.service p.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.service h4.text-blur {
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.service .card {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  /* position: relative; */
  min-width: 0;
  border-radius: 0.25rem;
}

.service .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 100%;
}

.service-details {
  background: #ffffff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border-top: none;
}

.service-details span {
  color: var(--secondary-color);
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

.service-details a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--heading-color);
  margin: 15px 0;
  text-decoration: none;
}

.service-details a:hover {
  color: var(--secondary-color);
}
/* END SERVICE */

.dark-mode-bg {
  background-color: #222222 !important;
}

.dark-mode-shadow {
  box-shadow: 0 1rem 3rem rgb(23 19 19) !important;
}

.dark-mode-cl {
  color: #ffffff !important;
}

.dark-mode-farm {
  color: #0b0d0e !important;
}

/* RESPONSIVE */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 568px) {
  #right-sidebar,
  .pull-right-demo-bar {
    width: 90px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar .navbar-brand,
  a.footer-logo {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .navbar-brand {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .nav-fixed .navbar-brand {
    color: var(--primary-color);
  }
}

.mb-2 {
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
}

@media (max-width: 1150px) {
  .carousel .col-md-5 {
    left: 5em;
  }
}

@media (max-width: 991px) {
  .carousel .col-md-5 {
    left: 2em;
  }
}

@media (max-width: 768px) {
  .carousel .col-md-5 {
    left: 0em;
    padding: 2em;
  }
}

@media (max-width: 480px) {
  .carousel .col-md-5 {
    padding: 1em;
  }
}

@media (max-width: 768px) {
  .banner-left {
    background: #ffffff;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .banner-left {
    padding: 2.5em 2em 2em 2.5em;
  }
}

@media (max-width: 1440px) {
  .banner-left h2 {
    font-size: 100px;
  }
}

@media (max-width: 1150px) {
  .banner-left h2 {
    font-size: 90px;
  }
}

@media (max-width: 991px) {
  .banner-left h2 {
    font-size: 80px;
  }
}

@media (max-width: 568px) {
  .banner-left h2 {
    font-size: 70px;
  }
}

@media (max-width: 480px) {
  .banner-left h2 {
    font-size: 60px;
    margin-top: -0.5em;
  }
}

@media (max-width: 1440px) {
  .banner-left-content h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 1150px) {
  .banner-left-content h3 {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 991px) {
  .banner-left-content h3 {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 568px) {
  .banner-left-content h3 {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 480px) {
  .banner-left-content h3 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  .carousel .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media (min-width: 576px) {
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important;
  }
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.p-0 {
  padding: 0 !important;
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .pr-lg-5 {
    padding-right: 3rem !important;
  }
}

@media (max-width: 991px) {
  h5.small-title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  h5.small-title {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  h3.title {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 768px) {
  h3.title {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (max-width: 568px) {
  h3.title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 667px) {
  p.text {
    margin: 14px 0 26px;
  }
}

@media (max-width: 568px) {
  p.text {
    margin: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  p.text {
    font-size: 15px;
  }
}

.mt-5 {
  margin-top: 3rem !important;
}

@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }
}

@media (max-width: 440px) {
  .discover__grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 768px) {
  .py-md-5 {
    padding: 3rem 0 !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (min-width: 576px) {
  .mb-sm-5 {
    margin-bottom: 3rem !important;
  }
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5 rem !important;
}

@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0 !important;
  }
}
